

html{
    background: linear-gradient(170deg, #62CDFF, #FFFFFF 888px);
    min-height: 100vh;
}

input{
    outline: none;
}

button{
    box-shadow: inset 0 0 0.3em darkgrey;
}

body, div{
    background: transparent !important;
}

#trophy, #userAttempt{
    display: none;
}

img{
    width: 80px;
    height: 100px;
}

.card{
    border-color: #007bff;
    min-height: 18em;
    padding: 4em 0;
}

.show-attempt{
    min-height: 23.5em;
}

.show-attempt h5{
    line-height: 18em;
}