

html{
    min-height: 100vh;
}

body{
    background-image: url(../image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

input{
    outline: none;
}

button{
    box-shadow: inset 0 0 0.3em darkgrey;
}

button:focus{
    box-shadow: none !important;
}

.btn-success{
    background: #33CF84;
    border-color: #22BF73;
    font-weight: 600;
}

.btn-success:hover, .btn-success:focus{
    background: #22BF73;
    border-color: #22BF73;
}

.btn-primary{
    background: #222;
    font-weight: 600;
    border-color: #000;
}

.btn-primary:hover, .btn-primary:focus{
    background: #000;
    border-color: #000;
}

div{
    background: transparent !important;
}

#trophy, #userAttempt{
    display: none;
}

img{
    width: 80px;
    height: 100px;
}

.card{
    border-color: #009F51;
    min-height: 18em;
    padding: 4em 0;
    background: linear-gradient(-330deg, #22BF73, #FFFFFF 480px) !important;
}

#medal{
    font-size: 4em;
}

.show-attempt{
    min-height: 23.5em;
}

.show-attempt h5{
    line-height: 18em;
}

.congrats{
    height: initial;
    width: 82px;
    position: relative;
    bottom: 122px;
    margin-bottom: -140px;
    margin-right: -90px;
}

.congrats:first-child{
    transform: rotate(40deg);
}

.congrats:last-child{
    right: 18px;
    transform: rotate(15deg);
}